body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.todo-list {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list input[type="text"] {
    padding: 0.5em;
    width: 50%;
    font-size: 1.2em;
}

.todo-list button[type="button"] {
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.todo-list button[type="button"]:hover {
    background-color: #3e8e41;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    background-color: beige;
    width: 300px;
}

#task-list li:last-child {
    border-bottom: none;
}
button
{
background-color: blue;
color: aliceblue;
font-weight: bolder;
border-radius: 10px;
width: 100px;
height: 40px;
}
button:hover
{
color: black;
}